/**
 * @file resources.rc
 * Resource file.
 *
 * This file contains some resources of the software, 
 * like the main icon. It needs resources.h to work properly.
 * @warning Due to an eclipse problem, this library is still useless.
 * @version 0.1
 * @date A.A. 2017/2018
 * @authors Andrea Esposito, Graziano Montanaro
 * @copyright No copyright informations provided.
 */

#ifndef RESOURCES_RC_INCLUDED
#define RESOURCES_RC_INCLUDED

#include "resources.h"

MAINICON  ICON  "icon.ico" ///The main icon of the software.

#endif // RESOURCE_RC_INCLUDED`